* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: cadetblue;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: crimson;
    background-color: rgb(218, 211, 212);
}
#resetbtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#newgame {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg {
    color: burlywood;
    font-size: 8vmin;
}
.msgcontainer {
    height: 30vmin;
}
.hide {
    display: none;
}
